/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

/*--------------------*/

.button__row {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.button {
	text-transform: uppercase;
	display: inline-block;
	letter-spacing: 2px;
	border-radius: 10px;
	padding: 5px 30px;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	cursor: pointer;
	position: relative;
	top: 0;
}

.button-1 {
	background-color: aquamarine;
	box-shadow: 0 5px 0 gray;
	transition: margin-left 0.5s 0.5s, margin-top 0.5s 0.5s, background-color 0.5s ease-out 0s, color 1s 0.5s, box-shadow 1s 0s;
}

/* .button::before {
	content: "";
	width: 100px;
	height: 2px;
	background-color: yellowgreen;
	position: absolute;
	bottom: 3px;
	left: 27px;
} */


.button-1:hover {
	color: white;
	background-color: rgb(90, 181, 151);
	margin-left: 40px;
	transition: color 1s 0s , margin-left 1s 0s;
	box-shadow: 0 2px 0 gray;
	top: 3px;
}

.button-1:active {
	background-color: rgb(175, 255, 228);
	color: gray;
	box-shadow: none;
	top: 2px;
}